<html>
	<head>
		<title>main map</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='ol_v4.6.5-dist/ol.css') }}" type="text/css">
		<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" type="text/css">
		<!--for development
		<link rel="stylesheet" href="../static/ol_v4.6.5-dist/ol.css') }}" type="text/css">
		<link rel="stylesheet" href="../static/styles.css'" type="text/css">-->
		
		<script src="{{ url_for('static', filename='jquery-3.3.1.min.js') }}"></script>
		<script src="{{ url_for('static', filename='ol_v4.6.5-dist/ol.js') }}"></script>
		<script src="{{ url_for('static', filename='scripts.js') }}"></script>
		<!--for development
		<script src="../static/ol_v4.6.5-dist/ol.js"></script>
		<script src="../static/scripts.js"></script>-->
		
	</head>
	<body>
		<div id="map" class="map" tabindex="0"></div>
	</body>
</html>